

    <button style="aspect-ratio:16/9;width:100%;display:block"> 
        
        <img style="height: 100%;width: 100%;border-style:none" > 
    
    </button>
    <p style="margin:0;text-overflow: ellipsis;width:160; height:40;overflow:hidden;padding-left:3%;display:block"> 
        <%= title %>
    </p>
