<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Test sample</title>
    <link rel="icon" href="/favicon.ico">
    <style>
        body {
            background-color: #222222;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        p {
            color: #e8dab3;
            font-family: italic, Garamond;
            font-size: 4em;
        }
    </style>
</head>

<body>
    <p> <%= frase %> </p>
</body>

</html>