<%- include('./partials/header') %>
  <main>
    <div class="ui segment">
      <h1>Users Route</h1>
      <p>Log with some id.</p>
    </div>
  </main>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

  </body>
</html>